@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply
    bg-jm-gray
    text-black
    font-inter
    text-sm
    py-5
    mx-5
    md:py-11
    max-w-7xl
    md:mx-auto
    grid
    grid-cols-4
    md:grid-cols-12
    gap-y-0
    gap-x-2.5
    md:gap-x-4
    min-h-screen;
    grid-template-rows: 1fr auto;
  }

  main {
    @apply col-span-4 md:col-span-12;
  }

  h3 {
    @apply uppercase;
    font-size: 0.5rem;
  }

  p {
    @apply leading-5;
  }

  .titles {
    @apply uppercase w-full;
    font-size: 0.5rem;

  }

  .close-btn {
    @apply fixed top-0 right-0 md:pt-11 md:pr-16 pt-16 pr-8;
  }

  /* Navbar */
    .navbar {
      @apply col-span-5 hidden md:block h-fit;
    }

    .project-list {
      @apply text-sm;
    }

    .project-list li {
      @apply pb-3.5 w-full;
    }

    .project-list li:hover {
      @apply underline;
    }

    .image-container {
      @apply fixed bottom-12 w-1/3 h-80;
    }

    .project-img {
      @apply object-contain w-full h-full;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      max-width: 60%;
      max-height: 80vh;
      object-position: left bottom;
    }

    .project-img.show {
      opacity: 1;
    }

    .navbar-mobile {
      @apply col-span-4 md:hidden;
    }

  /* About */

  .about {
    @apply col-span-4 md:col-span-7;
  }

  .bio-img-container {
    @apply w-48 lg:w-72 md:min-h-52 lg:min-h-72 xl:min-h-80 md:flex justify-center flex-col items-center hidden;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .bio-text {
    @apply hidden md:block;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
  }

  .read-more-button {
    @apply uppercase m-0 p-0;
    font-size: 0.5rem;
  }

  .hidden {
    display: none;
  }

  .block {
    display: block;
  }

  .bio-image {
    @apply h-full w-full object-cover;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .bio-img-container:hover .bio-text {
    opacity: 0;
  }

  .bio-img-container:hover .bio-image {
    opacity: 1;
  }

  /* Footer */

  .footer {
    @apply col-span-4 md:col-span-12 mt-auto;
  }

  .footer-content {
    @apply grid grid-cols-4 md:grid-cols-12 md:gap-4 gap-2.5;
  }

  /* Templates */
  .project-info {
    @apply col-span-4 md:col-span-5 h-fit;
  }

  /* Images */
  .img-left {
    @apply h-full w-full;
  }

  .img-left img {
    @apply h-full w-full object-cover;
  }

  .img-right {
    @apply h-full w-full;
  }

  .img-right img {
    @apply h-full w-full object-cover;
  }

  .img-dbl {
    @apply h-full w-full;
  }

  .img-dbl img {
    @apply h-full w-full object-cover object-center;
  }

  .img-full img {
    @apply h-full w-full object-cover;
  }

  

  /* Template 01 */
  .template01-01 {
    @apply h-full w-full;
  }

  .template01-01 img {
    @apply h-full w-full object-cover;
  }

  .template01-02 {
    @apply h-full w-full;
  }

  .template01-02 img {
    @apply h-full w-full object-cover;
  }

  .template01-03 {
    @apply h-full w-full;
  }

  .template01-03 img {
    @apply h-full w-full object-cover object-center;
  }

  .template01-04 {
    @apply w-full;
    height: 70vh;
  }

  .template01-04 img {
    @apply h-full w-full object-cover;
  }

  /* Template 02 */

  .template02-01 img {
    @apply h-full w-full object-cover;
  }

  .template02-02 {
    @apply h-full w-full;
  }

  .template02-02 img {
    @apply h-full w-full object-cover object-center;
  }

  .template02-03 {
    @apply h-full w-full;
  }

  .template02-03 img {
    @apply h-full w-full object-cover;
  }

  .template02-04 {
    @apply w-full;
    height: 70vh;
  }

  .template02-04 img {
    @apply h-full w-full object-cover;
  }
}
